* {
    font-family: 'Dosis', sans-serif;
}
div {
    padding: 15px;
}
button {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid black;
    width: 100%;
}
h2 {
    margin: 5px 0px 25px 0px;
    border-bottom: white 1px solid;
    width: 100%;
}
h3 {
    margin: 0px;
}
.text {
    font-size: 20px;
}
input {
    display: block;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
    width: 100%;
}